/* Color */
$white-color:#fff;
$black-color:#000;
$mid-night-blue-color:#022234;
$dark-blue-color:#003c5c;
$medium-blue-color:#00598a;
$text-color:#212121;
$sky-blue-color:#46c0ef;
$white-smoke-color:#f5f6f7;
/* Height*/
$contact-info-height:70px;
$header-height:65px;

/* Fonts family */
$gotham-fonts:'Gotham', system-ui;
$playfair-fonts:'Playfair Display', serif;