@mixin button ($color, $background-color){
    cursor: pointer;
    outline: none;
    text-align: center;
    padding: 1.5rem 3rem;
    border: 1px solid $color;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px;
    font-weight: 500;
    color: $color;
    background-color:$background-color;
    transition: all 0.3s;
    
    &:hover{
        background-color: $color;
        color: $background-color;
        border: 1px solid $background-color;
    }
}


