.nav{
    .container{
        margin-top:calc($header-height + $contact-info-height);
        width: 100%;
        background: rgba(0, 0, 0, 0.25) url('../img/pexels-foc-foodoncam-58597\ 1.png') center / cover no-repeat;
        background-blend-mode: darken;
        position: relative;
        animation: isSlide infinite 10s;
        height: 600px;
        @include flexCenter(center,flex-start);

        @include responsible(s){
            margin-top: $header-height;
            height: 180px;
        }

        &__text{
            align-items: center;
            text-align: center;
            font-size: 4.4rem;
            line-height: 130%;
            height: auto;
            color: $white-color;
            font-family: $playfair-fonts;

            @include responsible(s){
                font-size: 3.4rem;
            }
        }
    }

    .menu-bar{
        background-color: $mid-night-blue-color;
        font-family: $gotham-fonts;

        marquee{
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
            span{
                display: inline-block;
                font-size: 1.5rem;
                letter-spacing: 1px;
                line-height: 150%;
                color: rgba(255,255,255,0.8);
                padding: 0 18px;
                border-left: 1px solid $white-color;
                font-family: $gotham-fonts;
            }
            .border{
                border :none;
            }
        }    
    }

    .holidays{
        width: 100%;
        height: 690px;
        background: url('../img/Group\ 648.png') 60px calc(100% - 50px) / 40% 40%;
        background-repeat: no-repeat;
        position: relative;
        background-color: rgba(255, 255, 255, 0.35);
        background-blend-mode: lighten;

        @include responsible(m){
            height: 555px;
        }

        @include responsible(s){
            height: 100%;
        }
    
        svg{
            position: absolute;
            bottom: 30%;
            left: 30%;
            opacity: 0.9;
        }

        &__wrap{
            padding: 60px 0;

            @include responsible(s){
                padding: 40px 10px;
            }
        }

        &__text{
            padding-right: 80px;

            @include responsible(m){
                padding-right: 0;
            }

            @include responsible(s){
                padding: 0;
            }

            &-label{
                font-size: 4.4rem;
                line-height: 130%;
                letter-spacing: 2px;
                padding-top: 90px;
                padding-bottom: 30px;
                font-family: $playfair-fonts;

                @include responsible(m){
                    font-size: 3.4rem;
                    padding-top: 10px;
                }

                @include responsible(s){
                    padding: 0 0 10px;
                    font-size: 3rem;
                    text-align: center;
                }
            }

            &-text{
                font-size: 1.4rem;
                line-height: 150%;
                color: #212121;
                letter-spacing: 1.3px;
                font-weight: 400;
                font-style: normal;
                padding-bottom: 12px;
                font-family: $gotham-fonts;


            }
        }

        &__img{
            width: 100%;
            background: url('../img/Asia-Cambodia-Siem\ Reap-4\ 1.png') center / cover no-repeat;
            height: 570px;

            @include responsible(m){
                height: 430px;
            }

            @include responsible(s){
                height: 300px;
            }
        }
    }

    @include why-us($black-color,$white-color);
}